@keyframes visible {
    0% {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    1% {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    50% {
        display: block;
        opacity: 0.5;
        visibility: visible;
    }

    100% {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hidden {
    0% {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    50% {
        display: block;
        opacity: 0.5;
        visibility: visible;
    }

    99% {
        display: block;
        opacity: 0;
        visibility: hidden;
    }

    100% {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}